<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\admin\Documents\GitHub\tournament_tracker_application\TournamentTracker\Data"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=LENOVO-T490;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

